.mot-de-passe-11 .vector {
  transform: rotate(89.787deg);
  margin-right: 454.7px;
  width: 902.2px;
  height: 389px;
}
.mot-de-passe-11 .heading-1-login {
  margin: 0 6px 347.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 38px;
  color: #0A3749;
}
.mot-de-passe-11 .verify-the-code {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mot-de-passe-11 .button {
  border-radius: 59px;
  background: #09887B;
  display: flex;
  padding: 21.5px 0 21.5px 18px;
  width: 414px;
  box-sizing: border-box;
}
.mot-de-passe-11 .container-2 {
  margin: 145.1px 124px 289px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 414px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-11 .vector-1 {
  width: 23.9px;
  height: 25.8px;
}
.mot-de-passe-11 .background-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
  border-radius: 54px;
  background: #458981;
  margin: 849.6px 0 17px 0;
  display: flex;
  padding: 5.5px 7.6px 5.7px 7.5px;
  width: 39px;
  height: 37px;
  box-sizing: border-box;
}
.mot-de-passe-11 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1424px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-11 .unsplash-2-vd-8-lihdnw {
  border-radius: 400px;
  background: url('E:/Toury/toury/assets/images/Unsplash2Vd8Lihdnw.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 80px;
  top: 236px;
  width: 472px;
  height: 418px;
}
.mot-de-passe-11 .vector {
  transform: rotate(89.787deg);
  margin-right: 454.7px;
  width: 902.2px;
  height: 389px;
}
.mot-de-passe-11 .heading-1-login {
  margin: 0 6px 347.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 38px;
  color: #0A3749;
}
.mot-de-passe-11 .verify-the-code {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.mot-de-passe-11 .button {
  border-radius: 59px;
  background: #09887B;
  display: flex;
  padding: 21.5px 0 21.5px 18px;
  width: 414px;
  box-sizing: border-box;
}
.mot-de-passe-11 .container-2 {
  margin: 145.1px 124px 289px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 414px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-11 .vector-1 {
  width: 23.9px;
  height: 25.8px;
}
.mot-de-passe-11 .background-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
  border-radius: 54px;
  background: #458981;
  margin: 849.6px 0 17px 0;
  display: flex;
  padding: 5.5px 7.6px 5.7px 7.5px;
  width: 39px;
  height: 37px;
  box-sizing: border-box;
}
.mot-de-passe-11 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1424px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-11 .unsplash-2-vd-8-lihdnw {
  border-radius: 400px;
  background: url('E:/Toury/toury/assets/images/Unsplash2Vd8Lihdnw.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 80px;
  top: 236px;
  width: 472px;
  height: 418px;
}
.mot-de-passe-11 .background {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 19px;
  height: 100%;
  box-sizing: border-box;
}
.mot-de-passe-11 .rectangle-1387 {
  background: #D9D9D9;
  margin-right: 31px;
  width: 75px;
  height: 75px;
}
.mot-de-passe-11 .rectangle-1391 {
  background: #D9D9D9;
  margin-right: 37px;
  width: 75px;
  height: 75px;
}
.mot-de-passe-11 .rectangle-1390 {
  background: #D9D9D9;
  margin-right: 40px;
  width: 75px;
  height: 75px;
}
.mot-de-passe-11 .rectangle-1389 {
  background: #D9D9D9;
  margin-right: 42px;
  width: 75px;
  height: 75px;
}
.mot-de-passe-11 .rectangle-1388 {
  background: #D9D9D9;
  width: 75px;
  height: 75px;
}
.mot-de-passe-11 .container-1 {
  position: relative;
  margin-bottom: 95px;
  display: flex;
  flex-direction: row;
  width: 525px;
  box-sizing: border-box;
}
.the-code-will-expire-in-5-minutes-click-here-to-resend-it-sub24 {
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #05CDFF;
}
.mot-de-passe-11 .the-code-will-expire-in-5-minutes-click-here-to-resend-it {
  position: relative;
  margin-right: 61.6px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.mot-de-passe-11 {
  background: url('E:/Toury/toury/assets/images/MotDePasse11.jpeg') 50% / cover no-repeat, linear-gradient(#F8F8FD, #F8F8FD), linear-gradient(#FFFFFF, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 279px 132px 424px 0;
  width: 1440px;
  box-sizing: border-box;
}
