.mot-de-passe-12 .vector {
  transform: rotate(89.787deg);
  margin-right: 305.7px;
  width: 902.2px;
  height: 389px;
}
.mot-de-passe-12 .heading-1-login {
  margin: 0 0 341.5px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 38px;
  color: #0A3749;
}
.mot-de-passe-12 .reset-password {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
}
.mot-de-passe-12 .button {
  border-radius: 59px;
  background: #09887B;
  display: flex;
  padding: 18px 11px 18px 0;
  width: 640px;
  box-sizing: border-box;
}
.mot-de-passe-12 .container-3 {
  margin: 151.1px 47px 289px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-12 .vector-1 {
  width: 23.9px;
  height: 25.8px;
}
.mot-de-passe-12 .background-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
  border-radius: 54px;
  background: #458981;
  margin: 849.6px 0 17px 0;
  display: flex;
  padding: 5.5px 7.6px 5.7px 7.5px;
  width: 39px;
  height: 37px;
  box-sizing: border-box;
}
.mot-de-passe-12 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1424px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-12 .unsplash-2-vd-8-lihdnw {
  border-radius: 400px;
  background: url('E:/Toury/toury/assets/images/Unsplash2Vd8Lihdnw.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 80px;
  top: 236px;
  width: 472px;
  height: 418px;
}
.mot-de-passe-12 .vector {
  transform: rotate(89.787deg);
  margin-right: 305.7px;
  width: 902.2px;
  height: 389px;
}
.mot-de-passe-12 .heading-1-login {
  margin: 0 0 341.5px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 38px;
  color: #0A3749;
}
.mot-de-passe-12 .reset-password {
  overflow-wrap: break-word;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
}
.mot-de-passe-12 .button {
  border-radius: 59px;
  background: #09887B;
  display: flex;
  padding: 18px 11px 18px 0;
  width: 640px;
  box-sizing: border-box;
}
.mot-de-passe-12 .container-3 {
  margin: 151.1px 47px 289px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-12 .vector-1 {
  width: 23.9px;
  height: 25.8px;
}
.mot-de-passe-12 .background-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
  border-radius: 54px;
  background: #458981;
  margin: 849.6px 0 17px 0;
  display: flex;
  padding: 5.5px 7.6px 5.7px 7.5px;
  width: 39px;
  height: 37px;
  box-sizing: border-box;
}
.mot-de-passe-12 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1424px;
  height: fit-content;
  box-sizing: border-box;
}
.mot-de-passe-12 .unsplash-2-vd-8-lihdnw {
  border-radius: 400px;
  background: url('E:/Toury/toury/assets/images/Unsplash2Vd8Lihdnw.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 80px;
  top: 236px;
  width: 472px;
  height: 418px;
}
.mot-de-passe-12 .background {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 19px;
  height: 100%;
  box-sizing: border-box;
}
.mot-de-passe-12 .new-password {
  margin: 4px 6.6px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 0.7;
  color: #494949;
}
.mot-de-passe-12 .container {
  margin-bottom: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 1.077;
  color: #ED3863;
}
.mot-de-passe-12 .label {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mot-de-passe-12 .confirm-mot-de-passe {
  margin-right: 14.7px;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 0.7;
  color: #494949;
}
.mot-de-passe-12 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.2px;
  line-height: 1.077;
  color: #ED3863;
}
.mot-de-passe-12 .label-1 {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mot-de-passe-12 .container-2 {
  position: relative;
  margin: 0 110px 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 671.5px;
  box-sizing: border-box;
}
.mot-de-passe-12 .mot-de-passeminimum-8-caractres {
  position: absolute;
  left: 0.4px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: 'Tajawal';
  font-weight: 500;
  font-size: 18px;
  color: #8D8D8D;
}
.mot-de-passe-12 .container {
  position: relative;
  width: 300.4px;
  height: 22px;
}
.mot-de-passe-12 .input {
  border-radius: 46px;
  background: #FFFFFF;
  display: flex;
  padding: 17px 15px 13px 15px;
  width: 330.4px;
  height: 52px;
  box-sizing: border-box;
}
.mot-de-passe-12 .background-border {
  border-radius: 46px;
  border: 1px solid #DADADA;
  background: #FFFFFF;
  display: flex;
  padding: 1.5px 14px 1.5px 15px;
  width: 361.4px;
  height: 57px;
  box-sizing: border-box;
}
.mot-de-passe-12 .input-1 {
  border-radius: 46px;
  background: #FFFFFF;
  position: absolute;
  right: 15px;
  bottom: 2.5px;
  width: 330.4px;
  height: 52px;
}
.mot-de-passe-12 .confirm-your-password {
  position: absolute;
  left: 0.4px;
  bottom: -0.5px;
  overflow-wrap: break-word;
  font-family: 'Tajawal';
  font-weight: 500;
  font-size: 18px;
  color: #8D8D8D;
}
.mot-de-passe-12 .container-1 {
  position: relative;
  width: 299.4px;
  height: 22px;
}
.mot-de-passe-12 .background-border-1 {
  border-radius: 46px;
  border: 1px solid #DADADA;
  background: #FFFFFF;
  position: relative;
  padding: 15.5px 13.6px 17.5px 13.6px;
  width: 361.4px;
  height: 57px;
  box-sizing: border-box;
}
.mot-de-passe-12 .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 790.8px;
  box-sizing: border-box;
}
.mot-de-passe-12 {
  background: url('E:/Toury/toury/assets/images/MotDePasse11.jpeg') 50% / cover no-repeat, linear-gradient(#F8F8FD, #F8F8FD), linear-gradient(#FFFFFF, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 333px 36.2px 473px 0;
  width: 1440px;
  box-sizing: border-box;
}
